.about{
    font-family: 'Cedarville+Cursive display',cursive ;
    color: aqua;
    font-size: 20px;
}
body{
    text-align: center;
    background-color:rgb(4, 0, 255) ;
}

h1{
    font-family: 'Italinno display',cursive;
}
h2{
    font-family: 'Italinno display',cursive;
}
.menu{
    list-style: none;
    cursor: pointer;
    font-family: sans-serif;
    float: right;
    top: 10px;
}
a{
    font-size: 40px;
    font-family: 'Cedarville+Cursive display',cursive ;
}
